# See README.md for more information

PORT=
NODE_ENV=
HOST_URL=
LOG_LEVEL=

# Service: AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
LAMBDA_REGION=

# Service: JWT
JWT_SECRET=

# Service: PostgreSQL
DB_HOST=
DB_NAME=
DB_DATABASE=
DB_USER=
DB_PASSWORD=
DB_ENDPOINT_ID=
DB_PORT=
DB_DIALECT=

# Service: Nodemailer
SMTP_HOST=
SMTP_PORT=
SMTP_EMAIL=
SMTP_USERNAME=
SMTP_PASSWORD=

# Service: Stripe
STRIPE_LOCAL_ENDPOINT_SECRET=

## Stripe: Test
STRIPE_USA_PUBLISHABLE_KEY=
STRIPE_USA_SECRET_KEY=
STRIPE_USA_WEBHOOK_SECRET=
STRIPE_LOCAL_ENDPOINT_SECRET=

# Service: Firebase Admin (Path to service account key)
GOOGLE_APPLICATION_CREDENTIALS=

# Send Important Emails to these emails
DEVELOPER_EMAILS=
